{:paths ["src" "test"]
 :deps
 {
   org.clojure/clojure      {:mvn/version "1.11.1"}
   aysylu/loom              {:mvn/version "1.0.2"}
   net.mikera/core.matrix   {:mvn/version "0.63.0"}
   org.mentat/emmy          {:mvn/version "0.31.0"}
 }
 :aliases
  {
    :test {:extra-paths ["test"]
           :extra-deps {net.mikera/vectorz-clj    {:mvn/version "0.48.0"}}}
    :stats
    {
     :extra-deps
     {
      com.hypirion/clj-xchart {:mvn/version "0.2.0"}
      cljplot/cljplot {:mvn/version "0.0.3"}
      aerial.hanami/aerial.hanami {:mvn/version "0.19.0"}
      kixi/stats {:mvn/version "0.5.5"}
      }
     }
   }
 }